<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClienteWin2.Properties.Settings.Northwind_LINQConnectionString"
            connectionString="Data Source=northwind-linq.mssql.somee.com;Initial Catalog=Northwind-LINQ;Persist Security Info=True;User ID=dodrio1414_SQLLogin_1;Password=x6jolrqkr9"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>